<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%- title %></title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
  <link rel="stylesheet" href="assets/style/all.css">
</head>

<header class="header_page m0a">
  <div class="header_navigation_bar m0a">
    <a href="#">
      <img src="assets/images/logo-white.png" alt="logo-white">
    </a>
      <ul>
          <li>
            <a href="#">系列鏡框</a>
          </li>
          <li>
            <a href="#">門市據點</a>
          </li>
          <li>
            <a href="#">部落格</a>
          </li>
          <li>
            <a href="#">常見問題</a>
          </li>
      </ul>
  </div>
</header>

  <%- contents %>

<footer class="footer_page">
  <div class="footer_navigation_bar m0a">
      <ul>
          <li>首頁</li>
          <li>系列鏡框</li>
          <li>門市據點</li>
          <li>部落格</li>
          <li>常見問題</li>
      </ul>
      <div class="community">
          <img src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/ic-social-fb.png" alt="fb">
          <img src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/ic_social_ig.png" alt="ig">
          <img src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/ic_social_line.png" alt="line">
      </div>
  </div>
  <div class="information m0a">
      <div class="phone">
          <span class="material-symbols-outlined">
              call
          </span>
          <p>0800-000-000</p>
      </div>
      <div class="email">
          <span class="material-symbols-outlined">
                mail
          </span>
          <p>glasses@business.com</p>
      </div>
  </div>
  <div class="copyright m0a">
      <p>Copyright © 2020 Glasses.All rights reserved.</p>
      <ul>
          <li>隱私權政策</li>
          <li>服務條款</li>
      </ul>
  </div>
</footer>

  <script src="./assets/js/vendors.js"></script>
  <script src="./assets/js/all.js"></script>
</body>

</html>
