*,*::before,*::after{
    box-sizing: border-box;
}

img{
    max-width: 100%;
    height: auto;
}

.banner{
    background-image: url(https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/home-header.png);
    background-size: cover;
	background-position: center;
    height: 787px;
}

.banner_production{
    padding-top: 296px;
    max-width: 1296px;
    h1{
        color: #650300;
        font-family: Noto Sans TC;
        font-size: 64px;
        line-height: 96px;
        font-weight: bold;
        text-align: right;
        margin-bottom: 4px;
    }
    h2{
        color: #650300;
        font-family: Noto Sans TC;
        font-size: 36px;
        line-height: 54px;
        text-align: right;
    
    }
}

.buttom_buy{
    background-color: #AA0601;
    height: 41px;
    width: 104px;
    float: right;
    margin-bottom: 296px;
    p{
        font-family: Noto Sans TC;
        font-size: 20px;
        line-height: 30px;
        color: #FFFFFF;
        text-align: center;
        padding-top: 5.5px;
    }
}

.about_us{
    background-color: #FBF2F2;
    h2{
        color: #650300;
        font-family: Noto Sans TC;
        font-size: 48px;
        line-height: 72px;
        text-align: center;
        font-weight: bold;
        padding-bottom: 32.33px;
        padding-top: 80px;
    }
}

.about_us_items{
    display: flex;
    max-width: 1296px;
    justify-content: space-between;
    padding-bottom: 80px;
}

.item{
    width: 24%;
    img{
        width: 83.83px;
        height: 83.83px;
        display: block;
    }
    h3{
        color: #650300;
        font-family: Noto Sans TC;
        font-size: 24px;
        line-height: 36px;
        font-weight: bold;
        text-align: center;
        padding-top: 24.33px;
        padding-bottom: 8px;
    }
    p{
        color: #000000;
        font-family: Noto Sans TC;
        font-size: 16px;
        line-height: 24px;
    }
}